@import url('./variables.module.css');

.container {
  padding: 0;
  margin: 0 auto;
  width: var(--page-content-width);
  min-width: var(--page-content-min-width);
  user-select: none;
}

.toolbar {
  padding: 1rem 5px;
  margin: 0 -5px;
  gap: 1rem;
  background: var(--gray-100);
  height: var(--page-toolbar-height);
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  user-select: none;
  z-index: 100;
  top: 0;
}

.dropdown { 
  min-width: 160px;
  width: 15vw;
}

.button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}

.forms {
  height: calc(var(--page-content-height) - var(--page-toolbar-height));
  max-height: calc(var(--page-content-height) - var(--page-toolbar-height));
  margin: 0 auto;
  padding: 0;
  overflow: hidden auto ;
}

.card {
  margin: 0 0 1rem;
  padding: 0;
  border: 1px solid #ced4da;
}

.card [class~='p-card-header']  {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0 0 1rem;
  user-select: none;
}

.card [class~='p-card-footer'] {
  padding: 0;
  margin: 0;
}

.card [class~='p-card-content'] {
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
}

.card [class~='p-card-body'] {
  padding: 1rem 0;
  margin: 0;
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.block h4 {
  margin: 0;
  padding: 0;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.image {
  border: 1px solid #ced4da;
  border-radius: var(--border-radius);
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.item {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.left_column {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.right_column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error_input {
  border: 1px solid red !important;
}

.error_text {
  color: red;
  font-size: 0.8rem;
}
