@import url('./variables.module.css');

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;  
  margin: 0 auto;
  padding: 0;
  width: var(--page-content-width);
  min-width: var(--page-content-min-width);
  height: 100%;
}

.top_container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1rem 0 0;
  gap: 1rem;
  width: 100%;
}

.map_container {
  width: 70%;
  min-height: 485px;
  min-width: 300px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar_container {
  width: 30%;
  height: 485px;
  min-width: 410px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 1rem;
  gap: 1rem;
  width: 100%;
}

.news_container {
  width: 70%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links_container {
  width: 30%;
  min-width: 410px;
  padding: 0;
  margin: 0;
  gap: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center
}

.link {
  display: block;
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0;
  background: var(--surface-section);
  border: 1px solid var(--surface-border);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
}

.link:hover {
  background: var(--surface-hover);
}

.link.disabled {
  cursor: auto;
  background: repeating-linear-gradient(
    -45deg,
    var(--surface-200),
    var(--surface-200) 2px,
    var(--surface-ground) 2px,
    var(--surface-ground) 4px
  );
}

.link.disabled:hover {
  background: repeating-linear-gradient(
    -45deg,
    var(--surface-200),
    var(--surface-200) 2px,
    var(--surface-ground) 2px,
    var(--surface-ground) 4px
  );
}