@import url('./variables.module.css');

.container {
  padding: 0;
  margin: 0;
}

.toolbar {
  width: var(--page-content-width);
  height: var(--page-toolbar-height);
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  gap: 1rem;
  user-select: none;
}

.button {
  min-width: 200px;
}

.view {
  width: var(--page-content-width);
  height: calc(var(--page-content-height) - var(--page-toolbar-height));
  max-height: calc(var(--page-content-height) - var(--page-toolbar-height));
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

.view :global(.p-dataview-content) {
  background: none;
}

.view :global(.p-dataview-emptymessage) {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 420px);
  justify-content: center;
  gap: 15px;
  padding: 0.5rem 0 0;
}

.card {
  width: 420px;
  height: 300px;
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid #ced4da;
}

.card :global(.p-card-header) {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0 0;
  user-select: none;
}

.card :global(.p-card-footer) {
  padding: 0;
  margin: 0;
}

.card :global(.p-card-content) {
  padding: 0;
  margin: 0;
  height: 280px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card :global(.p-card-body) {
  padding: 0;
  margin: 0;
  height: 280px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
  border: 1px solid var(--primary-color);
}

.card:hover :global(.p-card-header) {
  color: var(--primary-color);
}

.logo {
  width: 390px;
  height: 230px;

  /* border: 1px solid #ced4da; */

  /* border-radius: var(--border-radius); */

  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
}
