.dev_container {
  position: absolute;
  bottom: 50vh;
  left: 45vw;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color)
}

.loading_container {
  position: absolute;
  bottom: 50vh;
  left: 45vw;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color)
}

.page_container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page_body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto scroll;
  width: 100%;
  max-height: var(--page-content-height);
  min-height: var(--page-content-height);
}


.card_root {
 box-shadow: none;
}